body {
    /* Sets the body to display as a grid, allowing for flexible layout. */
    display: grid;

    /* Defines a grid with 3 columns and 5 rows, each with equal width and height. */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    /* Sets the gap between columns and rows to 0 pixels. */
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    /* Sets the text color for the body section to white. */
    color: white;

     /* Sets the body background color to a dark purple shade. */
    background-color: rgb(61, 12, 107);
    }

header {
    /* Specifies the grid area for the header element, occupying the first row and spanning all columns. */
    grid-area: 1 / 1 / 2 / 6;

    /* Sets the background color to a lighter shade of purple. */
    background-color: rgb(91, 58, 123);

     /* Adds a border and padding around the header. */
    border: 1px solid #ccc;
    padding: 20px;

    /* Centers the text within the header. */
    text-align: center;
}

nav {
     /* Specifies the grid area for the navigation element, occupying rows 2 to 5 and the first column. */
    grid-area: 2 / 1 / 6 / 2;

       /* Sets the background color to a darker shade of purple. */
    background-color: rgb(80, 21, 136);

     /* Centers the text within the navigation. */
    text-align: center;

       /* Adds a border and padding around the navigation. */
    border: 1px solid #ccc;
    padding: 20px;
}

main {
    /* Specifies the grid area for the main content, occupying rows 2 to 5 and columns 2 to 5. */
    grid-area: 2 / 2 / 6 / 6;

    /* Sets the background color to a medium shade of purple. */
    background-color: rgb(108, 69, 146);

    /* Adds a border around the main content. */
    border: 1px solid #ccc;
    /* Displays the content within main as a flex container. */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     /* Sets the flex direction to column, arranging items vertically. */

    /* Adds padding to the top of the main content. */
    padding-top:10px;

    /* Centers the items along the content axis within the flex container. */
    align-content: center;
}

.box {
    /* Adds a border around the box element. */
    border: 1px solid #ccc;

    /* Sets the background color of the box to dark purple. */
    background-color: rgb(61, 12, 107);

    /* Centers the text within the box. */
    text-align: center;

    /* Adds margins and padding around the box. */
    margin: 10px;
    padding: 20px;

    /* Sets a fixed width for the box. */
    width: 400px;
}